{% extends "base.html" %}
{% block content %}
  <h2 class="mb-4">🏆 Gamification</h2>
  <p>Earn points by sharing tips, reviews & bookings.</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Traveler</th>
        <th>Points</th>
        <th>Rewards</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Alice</td>
        <td>500</td>
        <td>Free Tour Voucher</td>
      </tr>
      <tr>
        <td>Rohan</td>
        <td>300</td>
        <td>Hotel Discount</td>
      </tr>
    </tbody>
  </table>
{% endblock %}
